


		<footer id="footer">
			

		</footer>



		<!-- Load dependencies and stuff -->
		<script src="/js/dependencies/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/dependencies/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/dependencies/angular-animate.min.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false" type="text/javascript"></script>
		<script src="/js/dependencies/lodash.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/dependencies/lodash.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/dependencies/ngAutocomplete.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/dependencies/angular-google-maps.js" type="text/javascript" charset="utf-8"></script>

		<!-- Angular app -->
		<script src="/app/modules/PublicModule.js" type="text/javascript" charset="utf-8"></script>
		<script src="/app/controllers/HomeController.js" type="text/javascript" charset="utf-8"></script>


	</body>


</html>