

<% include ../partials/header %>


<div ng-controller="HomeController as home" class="container-fluid">

	<div class="search-bar-container row">
	
		<div class="search-bar col-sm-9">
		
			<h1 class="page-header col-xs-3"><%- locals.config.siteName %></h1>
			
			<form accept-charset="utf-8" class="col-xs-9" ng-submit="home.search(keyword)">

				<div class="form-group col-xs-8">
					<input type="text" name="" value="" class="form-control" ng-autocomplete ng-model="keyword" placeholder="Find current weather at..." />
				</div>

				<button class="btn btn-success" type="submit">
					<i class="fa fa-search margin"></i>Search
				</button>

			</form>

		</div>

	</div>

	<div class="row">

		<div class="map col-sm-9 force-large">
		    <ui-gmap-google-map 
		    	center='map.center' 
		    	zoom='map.zoom' 
		    	options="map.options" 
		    	events="map.events"
		    	style="height: 100%;">

					<!-- INFO WINDOW -->
			        <ui-gmap-window 
			        	coords="selectedMarker" 
			        	show="true" 
			        	closeClick="closeClick()"
			        	templateUrl="map.infoWindow.templateUrl"
			        	templateParameter="map.infoWindow.templateParameter">
			        </ui-gmap-window>
			
					<!-- MARKERS -->
				    <ui-gmap-markers
			            models='markers'
			            id='idKey'
			            idKey='idKey'
			            coords="'self'"
			            events="map.markers.events"
			            options="'options'"
			            icon="{url: ''}">
				    </ui-gmap-markers>

		    </ui-gmap-google-map>
		</div>



		<div class="sidebar col-sm-3 pull-right force-large">
			
			<div ng-show="selected">

			<div class="weather-header">

				<div class="content col-sm-12">
				
					<h3 class="city-name">{{selected.name}}</h3>	
					<h5>{{today | date:'EEEE, d MMMM yyyy'}} <span class="pull-right">{{today | date:'HH:mm'}}</span></h5>

					<hr>	

					<!-- ICON -->
					<div class="weather-icon col-sm-4 text-center force-left">
						<span class="loading" ng-show="selected.loading">
							<i ng-show="selected.loading" class="fa fa-spinner fa-spin"></i>
						</span>
						
						<i class="wi icon-{{selected.weather.weather[0].icon}}"></i>
					</div>

				
					<div class="loading-text" ng-show="selected.loading">Loading weather datas...</div>

					<!-- WEATHER DETAILS -->
					<div class="weather-info col-sm-8 pull-left" ng-show="! selected.loading && ! selected.error">

						<h3 class="current-temp">{{selected.weather.main.temp}} °</h3>
				        <h5 class="description">{{selected.weather.weather[0].description}}</h5>

				    </div>

				</div>

				<div ng-if="selected.picture" class="bg-image responsive-img" style="background-image: url('{{selected.picture.url_m}}')"></div>

			</div>

		    <div class="clearfix"></div>
	
			<div class="content col-sm-12">

				<div class="weather-details">
					<h4>Weather détails</h4>
					<div class="detail humidity"><i class="glyphicon glyphicon-tint margin"></i>Humidity {{selected.weather.main.humidity}}%</div>
					<div class="detail pressure"><i class="glyphicon glyphicon-dashboard margin"></i>Pressure {{selected.weather.main.pressure | number : 2}} hpa</div>
					<div class="detail temp"><i class="ionicons ion-thermometer margin"></i> Min/Max {{selected.weather.main.temp_min}}° / {{selected.weather.main.temp_max}}</div>
				</div>


			    <div class="clearfix"></div>
				<hr style="margin-bottom: 10px;">


				<!-- FORECAST -->
				<div class="forecast">
					<h4>5 days forecast</h4>
					
					<ul class="forecast-list">
						
						<li ng-repeat="day in selected.forecast.list track by $index">
							<h5 class="day-name">{{day.dt * 1000 | date:'EEEE'}}, {{day.dt * 1000 | date:'d'}}</h5>
							<div class="day-icon pull-left">
								<i class="wi icon-{{day.weather[0].icon}} margin"></i> 
							</div>
							<div class="day-details pull-left">
								<div>Min {{day.temp.min | number:0 }}°</div>
								<div>Max {{day.temp.max | number:0 }}°</div>
							</div>

						</li>

					</ul>

				</div>

				<div class="clearfix"></div>

			</div>

			</div>

			<div class="clearfix"></div>



		
		</div>

	</div>


</div>


<% include ../partials/footer %>
